.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* outline: 1px solid red; */
  width: 100%;
  min-height: 100vh;
  /* padding-left: 10%; */
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  outline: 1px solid rgb(0, 0, 0);
  background-color: black;
}

.cardPreview {
  outline: 6px solid rgb(41, 20, 178);
  color: white;
  flex: 1; /* Ocupar el espacio restante */
}

.title {
  color: aliceblue;
  font-size: 25px;
}

.card {
  width: calc(25% - 10px); /* Calcular el ancho con margen entre las tarjetas */
  margin-bottom: 10px;
  outline: rgb(0, 0, 0) solid 1px;
  background-color: rgb(10, 1, 21);
}

.titleName {
  color: aliceblue;
  font-size: 15px;
}

.image {
  width: 100%;
  height: auto;
}

.button {
  background-color: #c8a74b;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
  width: 135px;
}

.button:hover {
  background-color: #c69510;
}
