/*@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500%27');*/
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

.img {
    position: absolute;
    top: -20px;
    left: 0px;
}

.NaV {
    list-style-type: none;
    display: flex;
    margin: 10;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}

.NaV > li > a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 18px;
    margin: auto;
    padding-left: 0px;
    padding-right: 30px;
    letter-spacing: 2px;
    font-weight: 500;
}

.NaV > li > a:hover {
    color: #711792;
}

.fixedNavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #141414;
    height: 84px;
    z-index: 998!important;
   transition:.5s ease all;
}

.usuario {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 50px;
}

.usuarioContainer {
    position: relative;
}

.submenu {
    text-decoration: none;
    position: absolute;
    top: 45px; 
    right: 73px;
    background-color: rgba(56, 55, 55, 0.479);
    padding: 0 30px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #7117928e;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 17px;
    white-space: nowrap;
}
.submenu:hover {
    box-shadow: 0 2px 4px #fffeff;
}



.usuarioContainer:hover .submenu {
    display: block; 
}

.submenu > li {
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
    list-style-type: none; 
}


.submenu li a {
    text-decoration: none;
    color: white;
}

.submenu li a:hover {
    color: #711792;
} 

