.info{
    color: rgb(189, 189, 189);
}

.img{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border-radius: 10px;
}

.name{
    font-size: 40px;
    font-weight: bold;
}

.info h2 {
    font-size: 25px; 
  }

  .back{
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
    border: solid rgb(5, 5, 5);
    border-radius: 10px;
    color: rgb(209, 209, 209);
    font-size: 20px;
    background-color: rgb(5, 5, 5);
    padding: 5px;

}

.info p {
  font-size: 21px;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }